.testimonials-section {
  width:100%;
  padding: 2rem 4.5rem; /* 80px 100px */
  width: 100%;
  gap: 1.875rem;
  }
  
.testimonials{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.test {
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
  gap:230px;
  padding-bottom: 60px;
}

.test-p {
  width:780px;
  font-size: 0.75rem; /* 12px */
  text-align: start;
}

.view-all-btn {
  width: 5rem; /* 80px */
  height: 2.5rem; /* 40px */
  background-color: white;
  border: none;
  border-radius: 0.3125rem; /* 5px */
}
  
  .testimonials-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem; /* 20px */
    padding-top: 1.25rem; /* 20px */
  }
  
  .testimonial-img {
    width: 33.4rem; /* 520px */
    height: 12.5rem; /* 200px */
  }
  